/* body {
    background-color: whitesmoke;
} */

.w3-row-padding img {margin-bottom: 12px}
.w3-sidebar {width: 120px;background: #222;}

  p{
    color: white;
  }  

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: max-content;
    margin-left: 120px;
  }
  
  .image {
    width: 370px;
    margin-top: 50px;
  }
  
  @media only screen and (max-width: 800px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }